@import '~reset-css/sass/_reset.scss';
@import 'variables';

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --image-position: 0px;
    --image-position-inverse: calc(var(--image-position) * -1);
    --box-opacity: 1;
}

body {
    color: $defaultColor;
    height: 5000px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $containerWidth;
    padding-left: 24px;
    padding-right: 24px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.responsive-image {
    height: auto;
    width: 100%;
}

.heading {
    font-weight: bold;
    line-height: 1.35;

    &_large {
        font-size: 48px;
    }

    &_medium {
        font-size: 40px;
    }

    &_small {
        font-size: 32px;
    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    &_size {
        &-large {
            font-size: 20px;
        }

        &-medium {
            font-size: 16px;
        }

        &-small {
            font-size: 12px;
        }
        
        &-smallest {
            font-size: 10px;
        }
    }

    &_bold {
        font-weight: bold;
    }

    &_neutral {
        color: $neutralColor;
    }
}

.link {
    text-decoration: none;

    &_cta {
        align-items: center;
        color: #006cfa;
        display: flex;
    }

    &_blocky {
        color: inherit;
        display: block;
    }

    &__icon {
        margin-left: 8px;
        transition: .3s ease transform;
    }

    &:hover &__icon {
        transform: translate(8px);
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu {
    display: flex;

    &__item {
        margin-left: 48px;
    }

    &__link {
        color: #ffffff;
        font-size: 18px;
        transition: color .2s ease;

        &:hover {
            color: hsla(0, 0, 100%, .8);
        }
    }
}

.card {
    border: 1px solid #e6eaef;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.06);
    overflow: hidden;
    transition: transform .2s ease, box-shadow .2s ease;

    &:hover {
        box-shadow: 0 6px 16px 0 rgba(0,0,0,.08);
        transform: translate(0, -2px);
    }

    &__image-wrapper {
        align-items: center;
        display: flex;
        height: 160px;
        justify-content: center;
        overflow: hidden;
    }

    &__content {
        margin: 24px;
        padding-right: 36px;
        position: relative;
    }

    &__label {
        letter-spacing: 0.8;
        margin-bottom: 4px;
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 0;
        transform: rotate(-45deg);
    }
}

.hero {
    background-color: #001632;
    color: #ffffff;

    &__wrapper {
        margin-top: 64px;
    }

    &__heading {
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__content-left {
        padding-top: 120px;
        max-width: 500px;
    }

    &__content-right {
        height: 616px;
        position: relative;
        width: 640px;
    }

    &__decorative-box {
        background-color: #034543;
        bottom: -24px;
        height: 436px;
        opacity: var(--box-opacity);
        position: absolute;
        right: 40px;
        width: 420px;
        will-change: opacity;
    }

    &__image {
        position: absolute;

        &_middle {
            box-shadow: 0 12px 4px 0 rgba(0,0,0,.16);
            transform: translate(var(--image-position-inverse), var(--image-position-inverse));
            width: 510px;
            will-change: transform;
        }

        &_top {
            bottom: -64px;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
            right: 0;
            transform: translate(var(--image-position), var(--image-position));
            width: 420px;
            will-change: transform;
        }
    }
}

.product {
    padding-top: 224px;
    padding-bottom: 160px;

    &__heading {
        margin-bottom: 32px;
        margin-top: 40px;
    }

    &__content-left {
        width: 360px;
    }

    &__content-right {
        width: 792px;
    }

    &__item {
        align-items: flex-start;
        display: flex;
        margin-bottom: 24px;

        &-icon {
            margin-top: 8px;
        }

        &-text {
            margin-left: 12px;
        }
    }
}

.example {
    padding-bottom: 120px;
    padding-top: 120px;

    &__heading {
        margin-bottom: 24px;
        max-width: 480px;
    }

    &__text {
        margin-bottom: 56px;
        max-width: 640px;
    }

    &__card {
        width: calc(25% - 18px);
    }
}

.flows {
    background-color: #e7fbf1;
    padding-top: 160px;

    &__heading {
        margin-bottom: 24px;
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__text {
        margin: 0 auto 80px;
        max-width: 640px;
    }

    &__tab {
        align-items: center;
        display: none;
        justify-content: space-around;

        &_active {
            display: flex;
        }

        &_reverse {
            flex-direction: row-reverse;
        }

        &-content {
            max-width: 480px;
            padding-bottom: 72px;
        }
        
        &-heading {
            margin-bottom: 16px;
        }
        
        &-label {
            background-color: #000000;
            border-radius: 2px;
            color: #ffffff;
            display: inline-block;
            letter-spacing: .04;
            margin-bottom: 16px;
            padding: 0 4px;
        }
    
        &-image {
            max-height: 380px;
        }
    }

    &__tab-links-wrapper {
        background-color: #ffffff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
        display: flex;
        flex: 1 0 auto;
        margin-top: 56px;
        position: relative;
        top: 52px;
    }

    &__tab-link {
        border-top: 2px solid transparent;
        cursor: pointer;
        flex-basis: 0;
        flex-grow: 1;
        padding: 40px 0;
        text-align: center;

        &_active {
            border-top: 2px solid #0cd977;
            color: $defaultColor;
        }
    }
}