@import '~reset-css/sass/_reset.scss';
@import 'variables';

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --image-position: 0px;
    --image-position-inverse: calc(var(--image-position) * -1);
    --box-opacity: 1;
    --example-circle-position-x: -40px;
    --example-circle-position-y: -320px;
    --example-circle-position-texture: -16px;
}

body {
    color: $defaultColor;
    height: 7000px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $containerWidth;
    padding-left: 24px;
    padding-right: 24px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.responsive-image {
    height: auto;
    width: 100%;
}

.heading {
    font-weight: bold;
    line-height: 1.35;

    &_large {
        font-size: 48px;
    }

    &_medium {
        font-size: 40px;
    }

    &_small {
        font-size: 32px;
    }

    &_smallest {
        font-size: 24px;
    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    &_size {
        &-large {
            font-size: 20px;
        }

        &-medium {
            font-size: 16px;
        }

        &-small {
            font-size: 12px;
        }
        
        &-smallest {
            font-size: 10px;
        }
    }

    &_bold {
        font-weight: bold;
    }

    &_neutral {
        color: $neutralColor;
    }
}

.icon {
    
    &_size-large {
        height: 16px;
        width: 16px;
    }

    &_size-medium {
        height: 12px;
        width: 12px;
    }

    &_dark {
        fill: $defaultColor;
    }

    &_blue {
        fill: $ctaColor;
    }

    &_green {
        fill: #0cd977;
    }

    &_yellow {
        fill: #ffc61c;
    }

}

.link {

    &_default {
        color: $defaultColor;
    }

    &_cta {
        align-items: center;
        color: $ctaColor;
        display: flex;
        text-decoration: none;
    }

    &_blocky {
        color: inherit;
        display: block;
        text-decoration: none;
    }

    &__icon {
        margin-left: 8px;
        transition: .3s ease transform;
    }

    &:hover &__icon {
        transform: translate(8px);
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu {
    display: flex;

    &__item {
        margin-left: 48px;
    }

    &__link {
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        transition: color .2s ease;

        &:hover {
            color: hsla(0, 0, 100%, .8);
        }
    }
}

.card {
    border: 1px solid #e6eaef;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.06);
    overflow: hidden;
    transition: transform .2s ease, box-shadow .2s ease;

    &:hover {
        box-shadow: 0 6px 16px 0 rgba(0,0,0,.08);
        transform: translate(0, -2px);
    }

    &__image-wrapper {
        align-items: center;
        display: flex;
        height: 160px;
        justify-content: center;
        overflow: hidden;
    }

    &__content {
        margin: 24px;
        padding-right: 36px;
        position: relative;
    }

    &__label {
        letter-spacing: 0.8;
        margin-bottom: 4px;
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 0;
        transform: rotate(-45deg);
    }
}

.column {

    &__image {
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
    }

    &__title {
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 64px;
    }

    &__list-item {
        margin-bottom: 16px;

        &-icon {
            margin-right: 12px;
            margin-top: 4px;
        }
    }
}

.hero {
    background-color: #001632;
    color: #ffffff;

    &__wrapper {
        margin-top: 64px;
    }

    &__heading {
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__content-left {
        padding-top: 120px;
        max-width: 500px;
    }

    &__content-right {
        height: 616px;
        position: relative;
        width: 640px;
    }

    &__decorative-box {
        background-color: #034543;
        bottom: -24px;
        height: 436px;
        opacity: var(--box-opacity);
        position: absolute;
        right: 40px;
        width: 420px;
        will-change: opacity;
    }

    &__image {
        position: absolute;

        &_middle {
            box-shadow: 0 12px 4px 0 rgba(0,0,0,.16);
            transform: translate(var(--image-position-inverse), var(--image-position-inverse));
            width: 510px;
            will-change: transform;
        }

        &_top {
            bottom: -64px;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
            right: 0;
            transform: translate(var(--image-position), var(--image-position));
            width: 420px;
            will-change: transform;
        }
    }
}

.product {
    padding-top: 224px;
    padding-bottom: 160px;

    &__heading {
        margin-bottom: 32px;
        margin-top: 40px;
    }

    &__content-left {
        width: 360px;
    }

    &__content-right {
        width: 792px;
    }

    &__item {
        align-items: flex-start;
        display: flex;
        margin-bottom: 24px;

        &-icon {
            margin-top: 8px;
        }

        &-text {
            margin-left: 12px;
        }
    }
}

.example {
    padding-bottom: 120px;
    padding-top: 120px;

    &__container {
        position: relative;
    }

    &__heading {
        margin-bottom: 24px;
        max-width: 480px;
    }

    &__text {
        margin-bottom: 56px;
        max-width: 640px;
    }

    &__card {
        width: calc(25% - 18px);
    }

    &__circle {
        border-radius: 50%;
        height: 320px;
        position: absolute;
        width: 320px;
        transform: translate(var(--example-circle-position-x), var(--example-circle-position-y));
        will-change: transform;
        z-index: -1;

        &_color {
            background-color: #e7fbf1;
            right: 0;
            top: 0;  
        }

        &_texture {
            background-image: url(/src/img/cta_bg.svg);
            transform: translate(var(--example-circle-position-texture), var(--example-circle-position-texture));
            will-change: transform;
        }
    }
}

.flows {
    background-color: #e7fbf1;
    padding-top: 160px;

    &__heading {
        margin-bottom: 24px;
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__text {
        margin: 0 auto 80px;
        max-width: 640px;
    }

    &__tab {
        align-items: center;
        display: none;
        justify-content: space-around;

        &_active {
            display: flex;
        }

        &_reverse {
            flex-direction: row-reverse;
        }

        &-content {
            max-width: 480px;
            padding-bottom: 72px;
        }
        
        &-heading {
            margin-bottom: 16px;
        }
        
        &-label {
            background-color: #000000;
            border-radius: 2px;
            color: #ffffff;
            display: inline-block;
            letter-spacing: .04;
            margin-bottom: 16px;
            padding: 0 4px;
        }
    
        &-image {
            max-height: 380px;
        }
    }

    &__tab-links-wrapper {
        background-color: #ffffff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
        display: flex;
        flex: 1 0 auto;
        margin-top: 56px;
        position: relative;
        top: 52px;
    }

    &__tab-link {
        border-top: 2px solid transparent;
        cursor: pointer;
        flex-basis: 0;
        flex-grow: 1;
        padding: 40px 0;
        text-align: center;
        transition: .1s color ease;

        &:hover {
            color: $defaultColor;
        }

        &_active {
            border-top: 2px solid #0cd977;
            color: $defaultColor;
        }
    }
}

.segments {
    padding-bottom: 160px;
    padding-top: 212px;

    &__heading {
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 24px;
        max-width: 700px;
    }

    &__subheading {
        margin-bottom: 64px;
        max-width: 640px;
    }

    &__column {
        width: calc(33.33333% - 32px);
    }
}

.students-product {
    padding-bottom: 160px;
    padding-top: 64px;

    &__column {
        &_left {
            max-width: 792px;
        }

        &_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 360px;
        }
    }

    &__heading {
        margin-bottom: 32px;
        margin-top: 16px;
    }

    &__text {
        margin-bottom: 32px;
    }

    &__tab-content {
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
        margin-bottom: 32px;
    }

    &__tab-links-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__tab-link {
        border-bottom: 2px solid transparent;
        cursor: pointer;
        height: 32px;
        margin: 0 24px;

        &_active {
            border-bottom: 2px solid $defaultColor;
        }
    }
}

.feature {
    align-items: flex-start;
    display: flex;
    margin-bottom: 80px;
    max-width: 50%;

    &_centered {
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    &__icon {
        margin-right: 24px;
    }

    &__content {
        max-width: 480px;
    }

    &__heading {
        margin-bottom: 16px;

        &_centered {
            margin-bottom: 16px;
            margin-top: 64px;
        }
    }
}

.features {
    background-image: linear-gradient(180deg,#f8f9fa,#fff);
    padding-bottom: 128px;
    padding-top: 160px;
}

.advantages {
    padding-bottom: 160px;
    padding-top: 120px;
}

.cta {
    background-color: #001632;
    background-image: url(/src/img/cta_bg.svg);
    background-position: 50% 50%;
    background-size: 40px;
    color: #ffffff;
    padding-bottom: 96px;
    padding-top: 96px;

    &__container {
        max-width: 1200px;
    }

    &__wrapper {
        align-items: center;
        background-color: #001632;
        justify-content: space-around;
        padding-bottom: 96px;
        padding-top: 96px;
    }

    &__heading {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 16px;
    }

    &__link {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 16px 48px;
        text-decoration: none;
    }
}

.footer {
    padding-bottom: 64px;
    padding-top: 64px;

    &__column {
        padding-right: 24px;
        width: 25%;
    }

    &__heading {
        margin-bottom: 16px;
    }

    &__link {
        text-decoration: none;
        transition: .1s color ease;

        &:hover {
            color: $ctaColor;
        }
    }

    &__item {
        margin-bottom: 16px;
    }

    &__address {
        margin-bottom: 32px;

        &-text {
            line-height: 32px;
        }
    }

    &__socials {
        align-items: center;
        border-top: 2px solid #e6eaef;
        padding-top: 32px;

        &-link {
            border-radius: 50%;
            display: inline-block;
            margin-left: 16px;
            padding: 16px;
            text-decoration: none;
            transition: .1s background-color ease;

            &:hover {
                background-color: #f2f8ff;
            }
            
        }

        &-icon {
            display: inline-block;
        }
    }
}