@import '~reset-css/sass/_reset.scss';
@import 'variables';
@import 'mixins';

//Inter ui font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --image-position: 0px;
    --image-position-inverse: calc(var(--image-position) * -1);
    --box-opacity: 1;
    --example-circle-position-x: -70px;
    --example-circle-position-y: -320px;
    --example-circle-position-texture: -16px;
    --sticky-menu-position: -64px;
}

body {
    color: $defaultColor;
    height: 7000px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $containerWidth;
    padding-left: 24px;
    padding-right: 24px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.responsive-image {
    height: auto;
    width: 100%;
}

.heading {
    font-weight: bold;
    line-height: 1.35;

    &_large {
        font-size: 24px;

        @include for-size(tablet-portrait-up) {
            font-size: 32px;
        }

        @include for-size(desktop-up) {
            font-size: 48px;
        }
    }

    &_medium {
        font-size: 24px;

        @include for-size(tablet-portrait-up) {
            font-size: 32px;
        }

        @include for-size(desktop-up) {
            font-size: 40px;
        }
    }

    &_small {
        font-size: 24px;

        @include for-size(tablet-landscape-up) {
            font-size: 28px;
        }

        @include for-size(desktop-up) {
            font-size: 32px;
        }
    }

    &_smallest {
        font-size: 24px;
    }
}

.text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.5;

    &_size {
        &-large {
            font-size: 16px;

            @include for-size(desktop-up) {
                font-size: 20px;
            }
        }

        &-medium {
            font-size: 16px;
        }

        &-small {
            font-size: 12px;
        }
        
        &-smallest {
            font-size: 10px;
        }
    }

    &_semibold {
        font-weight: 500;
    }

    &_bold {
        font-weight: 600;
    }

    &_neutral {
        color: $neutralColor;
    }
}

.icon {
    
    &_size-large {
        height: 16px;
        width: 16px;
    }

    &_size-medium {
        height: 12px;
        width: 12px;
    }

    &_dark {
        fill: $defaultColor;
    }

    &_blue {
        fill: $ctaColor;
    }

    &_green {
        fill: #0cd977;
    }

    &_yellow {
        fill: #ffc61c;
    }

}

.link {

    &_default {
        color: $defaultColor;
    }

    &_cta {
        align-items: center;
        color: $ctaColor;
        display: flex;
        font-size: 18px;
        text-decoration: none;

        @include for-size(tablet-landscape-up) {
            font-size: 20px;
        }
    }

    &_blocky {
        color: inherit;
        display: block;
        text-decoration: none;
    }

    &__icon {
        margin-left: 8px;
        transition: .3s ease transform;
    }

    &:hover &__icon {
        transform: translate(8px);
    }
}

.header {

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_sticky {
            align-items: center;
            height: 100%;
        }
    }

    &_default {
        padding-bottom: 32px;
        padding-top: 32px;
    }

    &_sticky {
        background-color: #ffffff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.08);
        height: 64px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(0, var(--sticky-menu-position));
        z-index: 1;
    }
}

.menu {
    display: flex;

    &__item {
        margin-left: 16px;

        @include for-size(tablet-portrait-up) {
            margin-left: 24px;
        }

        @include for-size(desktop-up) {
            margin-left: 48px;
        }
    }

    &__link {
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        transition: color .2s ease;

        @include for-size(tablet-landscape-up) {
            font-size: 18px;
        }

        &:hover {
            color: hsla(0, 0, 100%, .8);
        }

        &_inverse {
            color: $defaultColor;

            &:hover {
                color: $defaultColor;
            }
        }
    }
}

.card {
    border: 1px solid #e6eaef;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.06);
    overflow: hidden;
    transition: transform .2s ease, box-shadow .2s ease;

    &:hover {
        box-shadow: 0 6px 16px 0 rgba(0,0,0,.08);
        transform: translate(0, -2px);
    }

    &__image-wrapper {
        align-items: center;
        display: flex;
        height: 160px;
        justify-content: center;
        overflow: hidden;
    }

    &__content {
        margin: 24px;
        padding-right: 36px;
        position: relative;
    }

    &__label {
        letter-spacing: 0.8;
        margin-bottom: 4px;
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 0;
        transform: rotate(-45deg);
    }
}

.column {

    &__image {
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 64px;
    }

    &__list-item {
        display: flex;
        margin-bottom: 16px;

        &-icon {
            margin-right: 12px;
            margin-top: 4px;
        }
    }
}

.hero {
    background-color: #001632;
    color: #ffffff;

    &__wrapper {
        margin-top: 64px;
        flex-direction: column;

        @include for-size(tablet-landscape-up) {
            flex-direction: row;
        }
    }

    &__heading {
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__content-left {
        margin: 0 auto 32px auto;
        max-width: 320px;
        text-align: center;

        @include for-size(tablet-landscape-up) {
            max-width: 500px;
            padding-right: 40px;
            padding-top: 40px;
            text-align: left;
        }

        @include for-size(desktop-up) {
            padding-top: 120px;
        }
    }

    &__content-right {
        height: 325px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        width: 320px;

        @include for-size(tablet-landscape-up) {
            height: 397px;
            width: 560px;
        }

        @include for-size(desktop-up) {
            height: 616px;
            width: 640px;
        }
    }

    &__decorative-box {
        background-color: #034543;
        bottom: -15px;
        height: 230px;
        opacity: var(--box-opacity);
        position: absolute;
        right: 20px;
        width: 220px;
        will-change: opacity;

        @include for-size(tablet-landscape-up) {
            height: 270px;
            right: 40px;
            width: 260px;
        }

        @include for-size(desktop-up) {
            bottom: -24px;
            height: 436px;
            width: 420px;
        }
    }

    &__image {
        display: inline-block;
        max-width: 100%;
        position: absolute;

        &_middle {
            box-shadow: 0 12px 4px 0 rgba(0,0,0,.16);
            transform: translate(var(--image-position-inverse), var(--image-position-inverse));
            width: 260px;
            will-change: transform;

            @include for-size(tablet-landscape-up) {
                width: 320px;
            }

            @include for-size(desktop-up) {
                width: 510px;
            }
        }

        &_top {
            bottom: -40px;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
            right: 0;
            transform: translate(var(--image-position), var(--image-position));
            width: 220px;
            will-change: transform;

            @include for-size(tablet-landscape-up) {
                bottom: -40px;
                width: 260px;
            }

            @include for-size(desktop-up) {
                bottom: -64px;
                width: 420px;
            }
        }
    }
}

.product {
    padding-bottom: 120px;
    padding-top: 175px;

    @include for-size(tablet-landscape-up) {
        padding-top: 224px;
        padding-bottom: 160px;
    }

    &__wrapper {
        align-items: center;
        flex-direction: column;

        @include for-size(desktop-up) {
            flex-direction: row;
        }
    }

    &__heading {
        margin-bottom: 32px;
        margin-top: 40px;
    }

    &__content-left {
        flex: 0 0 auto;
        margin-bottom: 48px;
        max-width: 480px;

        @include for-size(desktop-up) {
            margin-bottom: 0;
            margin-right: 24px;
            max-width: 360px;
        }
    }

    &__content-right {
        max-width: 560px;

        @include for-size(desktop-up) {
            max-width: 792px;
        }
    }

    &__item {
        align-items: flex-start;
        display: flex;
        margin-bottom: 24px;

        &-icon {
            margin-top: 8px;
        }

        &-text {
            font-size: 18px;
            margin-left: 12px;

            @include for-size(tablet-landscape-up) {
                font-size: 20px;
            }
        }
    }
}

.example {
    padding-bottom: 80px;
    padding-top: 40px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    &__container {
        position: relative;
    }

    &__heading {
        margin-bottom: 24px;
        text-align: center;

        @include for-size(desktop-up) {
            max-width: 480px;
            text-align: left;
        }
    }

    &__text {
        margin-bottom: 56px;
        text-align: center;
        
        @include for-size(desktop-up) {
            max-width: 640px;
            text-align: left;
        }
    }

    &__wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 400px;

        @include for-size(tablet-landscape-up) {
            max-width: 100%;
        }
    }

    &__card {
        margin-bottom: 24px;
        width: 100%;

        @include for-size(tablet-landscape-up) {
            width: calc(50% - 12px);
        }

        @include for-size(desktop-up) {
            margin-bottom: 0;
            width: calc(25% - 18px);
        }
        
    }

    &__circle {
        border-radius: 50%;
        display: none;
        height: 320px;
        position: absolute;
        width: 320px;
        transform: translate(var(--example-circle-position-x), var(--example-circle-position-y));
        will-change: transform;
        z-index: -1;

        &_color {
            background-color: #e7fbf1;
            right: 0;
            top: 0;  
        }

        &_texture {
            background-image: url(../img/cta_bg.svg);
            transform: translate(var(--example-circle-position-texture), var(--example-circle-position-texture));
            will-change: transform;
        }

        @include for-size(tablet-landscape-up) {
            display: block;
        }
    }
}

.flows {
    background-color: #e7fbf1;
    padding-bottom: 60px;
    padding-top: 80px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 0;
        padding-top: 160px;
    }

    &__heading {
        margin-bottom: 24px;
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__text {
        margin: 0 auto 80px;
        max-width: 640px;
    }

    &__tab {
        align-items: center;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        // max-height: 0;
        // opacity: 0;
        // overflow: hidden;
        // transition: max-height 0s .1s, opacity .1s;

        @include for-size(desktop-up) {
            flex-direction: row;
        }

        &_active {
            display: flex;
            // max-height: 1000px;
            // opacity: 1;
            // transition: max-height 0s .1s, opacity .2s .1s;
        }

        &_reverse {
            @include for-size(desktop-up) {
                flex-direction: row-reverse;
            }
        }

        &-content {
            margin-bottom: 32px;
            max-width: 480px;
            padding:  0;

            @include for-size(tablet-portrait-up) {
                padding: 0 40px 40px;
            }

            @include for-size(desktop-up) {
                margin-right: 40px;
                max-width: 100%;
                padding: 0;
                padding-bottom: 40px;

                &_reverse {
                    margin-left: 40px;
                }
            }
            
        }
        
        &-heading {
            font-size: 20px;
            margin-bottom: 16px;
        }
        
        &-label {
            background-color: #000000;
            border-radius: 2px;
            color: #ffffff;
            display: inline-block;
            letter-spacing: .04;
            margin-bottom: 16px;
            padding: 0 4px;
        }
    
        &-image {
            max-height: 380px;
        }
    }

    &__tab-links-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 56px;

        @include for-size(tablet-landscape-up) {
            background-color: #ffffff;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
            flex-wrap: nowrap;
            position: relative;
            top: 52px;
        }
    }

    &__tab-link {
        border-top: 2px solid transparent;
        color: $defaultColor;
        cursor: pointer;
        font-size: 14px;
        padding: 8px 16px;
        text-align: center;
        width: auto;

        @include for-size(tablet-landscape-up) {
            color: $neutralColor;
            padding: 40px 0;
            transition: .1s color ease;
            width: 100%;
        }

        @include for-size(desktop-up) {
            font-size: 18px;
        }

        &:hover {
            color: #ffffff;

            @include for-size(tablet-landscape-up) {
                color: $defaultColor;
            }
        }

        &_active {
            background-color: $defaultColor;
            border-radius: 4px;
            color: #ffffff;

            @include for-size(tablet-landscape-up) {
                background-color: inherit;
                border-radius: 0;
                border-top: 2px solid #0cd977;
                color: $defaultColor;
            }
            
        }
    }
}

.segments {
    padding-bottom: 64px;
    padding-top: 100px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 160px;
        padding-top: 212px;
    }

    &__wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 480px;

        @include for-size(tablet-landscape-up) {
            max-width: 100%;
        }
    }

    &__content {
        margin: 0 auto;
        max-width: 480px;

        @include for-size(tablet-landscape-up) {
            max-width: 100%;
        }
    }

    &__heading {
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 24px;
        max-width: 700px;
    }

    &__subheading {
        margin-bottom: 64px;
        max-width: 640px;
    }

    &__column {
        margin-bottom: 64px;
        width: 100%;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include for-size(tablet-landscape-up) {
            margin-bottom: 0;
            width: calc(33.33333% - 32px);
        }
    }
}

.students-product {
    padding-bottom: 64px;
    padding-top: 64px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 160px;
        padding-top: 64px;
    }
    

    &__wrapper {
        align-items: center;
        flex-direction: column;

        @include for-size(desktop-up) {
            flex-direction: row-reverse;
        }
    }

    &__column {
        &_right {
            max-width: 560px;

            @include for-size(desktop-up) {
                max-width: 792px;
            }
        }

        &_left {
            flex: 0 0 auto;
            margin-bottom: 48px;
            max-width: 480px;

            @include for-size(desktop-up) {
                margin-bottom: 0;
                margin-left: 24px;
                max-width: 360px;
            }
        }
    }

    &__heading {
        margin-bottom: 16px;
        margin-top: 16px;

        @include for-size(tablet-landscape-up) {
            margin-bottom: 32px;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 32px;

        @include for-size(tablet-landscape-up) {
            font-size: 20px;
        }
    }

    &__tab {
        // max-height: 0;
        // opacity: 0;
        // overflow: hidden;
        // transition: max-height 0s .1s,opacity .1s;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
        display: none;

        &_active {
            display: flex;
            // max-height: 1000px;
            // opacity: 1;
            // transition: max-height 0s .1s, opacity .2s .1s;
        }
    }

    &__tab-links-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 32px;
        width: 100%;
    }

    &__tab-link {
        border-bottom: 2px solid transparent;
        cursor: pointer;
        height: 32px;
        margin: 0 24px 24px;

        @include for-size(tablet-landscape-up) {
            margin-bottom: 0;
        }

        &_active {
            border-bottom: 2px solid $defaultColor;
        }
    }
}

.feature {
    align-items: flex-start;
    display: flex;
    margin-bottom: 56px;
    max-width: 100%;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 80px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    @include for-size(tablet-landscape-up) {
        max-width: 50%;
    }

    &_align-left {
        flex-direction: column;

        @include for-size(tablet-portrait-up) {
            flex-direction: row;
        }        
    }

    &_centered {
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &__icon {
        margin-bottom: 16px;
        margin-right: 24px;


    }

    &__content {
        max-width: 480px;
    }

    &__heading {
        margin-bottom: 16px;
        font-size: 20px;

        &_centered {
            margin-bottom: 16px;
            margin-top: 24px;

            @include for-size(tablet-landscape-up) {
                margin-top: 64px;
            }
        }
    }
}

.features {
    background-image: linear-gradient(180deg,#f8f9fa,#fff);
    padding-bottom: 80px;
    padding-top: 80px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 128px;
        padding-top: 160px;
    }
    

    &__wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 480px;

        @include for-size(tablet-landscape-up) {
            max-width: 100%;
        }
    }
}

.advantages {
    padding-bottom: 64px;
    padding-top: 64px;

    @include for-size(tablet-landscape-up) {
        padding-bottom: 160px;
        padding-top: 120px;
    }

    &__wrapper {
        flex-wrap: wrap;
    }
}

.cta {
    background-color: #001632;
    background-image: url(../img/cta_bg.svg);
    background-position: 50% 50%;
    background-size: 40px;
    color: #ffffff;
    padding-bottom: 96px;
    padding-top: 96px;

    &__wrapper {
        align-items: center;
        background-color: #001632;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 96px;
        padding-top: 96px;

        @include for-size(tablet-landscape-up) {
            flex-direction: row;
        }
    }

    &__content-left {
        margin-bottom: 32px;
        text-align: center;

        @include for-size(tablet-landscape-up) {
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__heading {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 16px;
    }

    &__link {
        background-color: #ffffff;
        border-radius: 4px;
        display: block;
        padding: 16px 48px;
        text-decoration: none;
    }
}

.footer {
    padding-bottom: 64px;
    padding-top: 64px;

    &__links-wrapper {
        flex-direction: column;

        @include for-size(tablet-landscape-up) {
            flex-direction: row;
        }
    }

    &__column {
        padding-bottom: 32px;
        padding-right: 24px;

        @include for-size(tablet-landscape-up) {
            padding-bottom: 0;
            width: 25%;
        }
    }

    &__heading {
        font-size: 20px;
        margin-bottom: 16px;
    }

    &__link {
        text-decoration: none;
        transition: .1s color ease;

        &:hover {
            color: $ctaColor;
        }
    }

    &__item {
        margin-bottom: 16px;
    }

    &__address {
        margin-bottom: 32px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &-text {
            line-height: 32px;
        }
    }

    &__socials {
        align-items: center;
        border-top: 2px solid #e6eaef;
        padding-top: 32px;

        &-link {
            border-radius: 50%;
            display: inline-block;
            margin-left: 16px;
            padding: 16px;
            text-decoration: none;
            transition: .1s background-color ease;

            &:hover {
                background-color: #f2f8ff;
            }
            
        }

        &-icon {
            display: inline-block;
        }
    }
}